* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);
  --White-: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black-: hsl(0, 0%, 7%);
}
body {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 100px 40px;
}
@media (max-width: 767px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   padding: 50px 20px;
  }
}
.container .card {
  padding: 30px;
  border-radius: 10px;
}
.container .card .cont {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container .card .cont img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.container .card .cont h4 {
  font-size: 10px;
  color: var(--Grey-200);
  font-weight: 500;
}
.container .card-1 h3,
.container .card-2 h3,
.container .card-5 h3 {
  color: white;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}
.container .card-3 h3,
.container .card-4 h3 {
  color: var(--Black-);
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 4px;
}
.container .card-1 p:first-of-type,
.container .card-2 p:first-of-type,
.container .card-5 p:first-of-type {
  color: white;
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}
.container .card-3 p:first-of-type,
.container .card-4 p:first-of-type {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}

.container .card-1 p:last-of-type,
.container .card-2 p:last-of-type,
.container .card-5 p:last-of-type  {
  color: var(--Grey-200);
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6;
}
.container .card-5 p:last-of-type {
  color: hsl(210, 5%, 71%);
}
.container .card-3 p:last-of-type,
.container .card-4 p:last-of-type  {
  color: hsl(219, 10%, 59%);
  font-weight: 600;
  font-size: 13px;
  line-height: 1.6;
}
.container .card-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--Purple-500);
  position: relative;
  z-index: 1;
}
.container .card-1::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d"; 
  position: absolute;
  right: 60px;
  top: -20px;
  color: hsla(261, 100%, 95%, 0.523);
  font-size: 140px;
  z-index: -1;
}
.container .card-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--Grey-500);
}
.container .card-3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--White-);
}
.container .card-4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--White-);
}
.container .card-5 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--Dark-blue);
}
.foot p {
  text-align: center;
  font-weight: 600;
  padding: 20px;
}
.foot p a {
  text-decoration: none;
  color: var(--Purple-500);
  padding: 5px;
}
.foot p a:hover {
  background-color: var(--Purple-300);
  color: white;
  border-radius: 10px;
}